<!doctype html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='ie=edge,chrome=1'>
<title>Sumukh Shirodker</title>
<link rel="stylesheet" href="/static/htmlplusstylescss">
<script src="/static/_java_script"></script>
</head>
<body>
  <header>
    <a href="/" class="home">HOME</a>
    <a href="/about" class="about">ABOUT</a>
    <a href="https://instagram.com/sumukhshirodkar_" class="insta" title="My Instagram">
      <img src="/static/images/image/insta" width="25" height="25">
    </a>
    <a href="https://www.youtube.com/channel/UCYDslel3lQX0mLoqA9TqWDg" class="yt">
      <img src="/static/images/image/yt" title="My YouTube" width="25" height="25">
    </a>
    <a href="https://github.com/SumukhShetShirodker" class="fb">
      <img src="/static/images/image/github" width="25" title="My Github" height="25">
    </a>
  </header>
  <main>
    <section class="banner">
      <h1 class="info">Sumukh Shirodker</h1>
    </section>
    <div class="about-me"></div>
    <div class="how">Front-End: <br>EJS,CSS,JAVASCRIPT
      <br><br>
      <li>EJS is used as a replacement of HTML.I Don't actually know why I used it just wanted to try something new ,I guess.I can also write JavaScript by a HTML rendering language, That is why I am using it.</li>
      <li>I wrote lines of code for styling(CSS) and scripting(JS). You may not see most of it because I had to fix bugs in my scripts and my styles.I am using new image extension called "WEBP". I changed all my "PNG" to "WEBP" because "PNG" was becoming a pain in the ass(while loading .png images).</li>
      <br><br>
      Back-End: <br>NODEJS <br><br>
      <li>I used a Web Framework called "Express.js", which is a Fast, unopinionated, minimalist and most used web framework for Node.js.</li>
    </div>
  </main>
</body>
</html>