<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Vlogger</title>
<link rel="stylesheet" href="/css/styles.css">
<script src="/js/app.js"></script>
</head>
<body>
	<header>
		<a href="/" class="brand">
			<h1 class="brand">Vlogger</h1>
		</a>
	<nav>
		<a href="/login">Login</a>
		<a href="/masthead">Masthead</a>
		<a href="/about">About</a>
	</nav>
	</header>
	<main>
		<h1>Hello World!!</h1>
	</main>
	<footer><p class="product">© Sumukh Shirodker Production.</p></footer>
</body>
</html>