<!doctype html>
<html lang='en'>
<head>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<meta http-equiv='X-UA-Compatible' content='ie=edge,chrome=1'>
<title>Sumukh Shirodker</title>
<link rel="stylesheet" href="/static/htmlplusstylescss">
<script src="/static/_java_script"></script>
</head>
<body>
  <header>
    <a href="/" class="home">HOME</a>
    <a href="http://instagram.com/sumukhshetshirodker_" class="insta" title="My Instagram">
      <img src="/static/images/image/insta" width="25" height="25">
    </a>
    <a href="https://www.youtube.com/channel/UCYDslel3lQX0mLoqA9TqWDg" class="yt">
      <img src="/static/images/image/yt" title="My YouTube" width="25" height="25">
    </a>
    <a href="https://github.com/SumukhShirodker" class="fb">
      <img src="/static/images/image/github" width="25" title="My Github" height="25">
    </a>
  </header>
  <main>
    <section class="banner">
      <h1 class="info">Sumukh Shirodker</h1>
      <p class="info"></p>
    </section>
  </main>
</body>
</html>