/*Google fonts*/
@import url('https://fonts.googleapis.com/css?family=Oswald');
/* Main Styles */
*{
  margin:0;
  font-family: 'Oswald',sans-serif;
}
header{
  background-color:#28dc8b;
  height:75px;
}
footer{
  background-color: #28dc8b;
}
.brand{
  color:whitesmoke;
}
main{
  background:#f7f6f8;
}
video{
  width:100%;
  height: 500px;
  background-color:black;
}