*{
  margin:0;
  padding:0;
  font-display:swap;
  font-weight: 100;
  font-family: Verdana, sans-serif;
}
header{
  background: #2c2237;
  height: 30px;
}
a{
  color:#FAFAFA;
  text-decoration: none;
}
.home,.about{
  float: left;
}
.insta,.fb,.yt{
  float: right;
}
div.about-me,div.how{
  background-color:  #2c2237;
  color:#FAFAFA;
}